.layoutContainer {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "head head head head head head head head head head head head"
        "side side side main main main main main main main main main"
    ;
    gap: 16px;
    box-sizing: border-box  ;
}

header {grid-area: head}
aside {grid-area: side}
main {grid-area: main}