@import 'tailwindcss';

:root {

}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
